<div class="wrapper">
  <div class="banner">
    hjhjh
  </div>
  <div class="sidebar-wrapper">
      <div class="profile-container">
          <img class="profile" src="../assets/images/ItzelPalma.jpeg"  width="50%"  />
          <h1 class="name">Itzel Palma Reyes</h1>
          <h3 class="tagline">Frontend Developer</h3>
      </div><!--//profile-container-->

      <div class="contact-container container-block">
          <ul class="list-unstyled contact-list">
              <li class="email"><i class="fa fa-building-o"></i><a href="mailto: yourname@email.com">Santa Elena, San Mateo Atenco, Estado de México.</a></li>
              <li class="email"><i class="fa fa-envelope"></i><a href="mailto: yourname@email.com">alax.angel@gmail.com</a></li>
              <li class="phone"><i class="fa fa-phone"></i><a href="tel:">(722)5-42-31-08</a></li>
              <li class="phone"><i class="fa fa-mobile"></i><a href="tel:(55)-64-98-28-01">(55)-64-98-28-01</a></li>
<!--                    <li class="website"><i class="fa fa-globe"></i><a href="http://themes.3rdwavemedia.com/website-templates/free-responsive-website-template-for-developers/" target="_blank">portfoliosite.com</a></li>
-->                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="#" target="_blank">linkedin.com/in/angel-alvarez-81865563</a></li>
              <!--<li class="github"><i class="fa fa-github"></i><a href="#" target="_blank">github.com/username</a></li>-->
              <!--<li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/3rdwave_themes" target="_blank">@twittername</a></li>-->
          </ul>
      </div><!--//contact-container-->
      <div class="education-container container-block">
          <h2 class="container-block-title">Education</h2>
          <div class="item">
              <h4 class="degree">Telematics Engineer</h4>
              <h5 class="meta">Instituto Politécnico Nacional- UPIITA</h5>
              <div class="time">2007 - 2012</div>
          </div><!--//item-->
          <div class="item">
              <h4 class="degree">Electronics Technician</h4>
              <h5 class="meta">CBTIS 203 Metepec</h5>
              <div class="time">2003 - 2006</div>
          </div><!--//item-->
      </div><!--//education-container-->

      <div class="languages-container container-block">
          <h2 class="container-block-title">Idioms</h2>
          <ul class="list-unstyled interests-list">
              <li>Spanish <span class="lang-desc">(Native)</span></li>
              <li>English <span class="lang-desc">(medium)</span></li>
              <!--<li>Spanish <span class="lang-desc">(Professional)</span></li>-->
          </ul>
      </div><!--//interests-->

      <div class="interests-container container-block">
          <h2 class="container-block-title">Interests</h2>
          <ul class="list-unstyled interests-list">
              <li>Programming</li>
              <li>Technology</li>
              <li>computing</li>
          </ul>
      </div><!--//interests-->

  </div><!--//sidebar-wrapper-->

  <div class="main-wrapper">

      <section class="section summary-section">
        <h2 class="section-title"><em class="fa fa-user"></em>Profile</h2>
        <div class="summary">
              <p>
              Telematics Engineer (Telecommunications with Computing), I am currently a software developer, FE, Meddleware, BE
              Knowing Operating Systems (Unix, Linux, Windows), Programming languages, Databases management, NETWORKING (LAN, WAN Network Configuration).
               </p>
          </div><!--//summary-->
      </section><!--//section-->

      <section class="section experiences-section">
          <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>




          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Sr BE Developer</h3>
                      <div class="time">April 2019 - Current</div>
                  </div><!--//upper-row-->
                  <div class="company">HSBC México . HSBC Exportec, Toluca México</div>
              </div><!--//meta-->
              <div class="details">
                 <p>Area: Web Personal Banking ( Digital GSP, Mobile and Banking 2.0)</p>
                 <p>Development and maintenance of line COBOL programs  </p>
                 <p>Support and promote code to production, incidents and Guards </p>
                 <p>Desing for cics, r2ds, MQ configurations</p>
                 <p>Agile work methodology (Daylis, sprints, Refinement), Jira, Confluence</p>
                 <p>Handling DEVOPS jenkins, mainframe, cics</p>
              </div><!--//details-->
          </div><!--//item-->

          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Sr  JAVA  Developer</h3>
                      <div class="time">December 2017 - January 2019</div>
                  </div><!--//upper-row-->
                  <div class="company">ASTECI. HSBC Exportec, Toluca México</div>
              </div><!--//meta-->
              <div class="details">
                 <p>Area: GLCM Payments HSBC Net</p>
                 <p>Deployment and configuration for Jenkins pipelines </p>
                 <p>Develop and Maintenance for Java Programs</p>
                 <p>Develop with Angular 6 (TypeScript, HTML,CSS, integration with RESFULL Applications)</p>
                 <p>review and follow-up of incidents with the different teams such as MQ, R2DS, APIS</p>
                 <p>Technology management DEVOPS, Jenkis, JIRA, GITHUB, NEXUS</p>
                 <p>Adoption of new Agile work methodology(jira, Confluence)</p>
              </div><!--//details-->
          </div><!--//item-->




         <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Sr Analyst </h3>
                      <div class="time">August 2016 - November 2017 </div>
                  </div><!--//upper-row-->
                  <div class="company">Praxis. HSBC Exportec, Toluca México</div>
              </div><!--//meta-->
              <div class="details">
                 <p>Analysis and implementacion for the New Personal Banking GSP (Global Personal Session) Project   </p>
                 <p>FE Java development (Portlets, Servlets, G3, NEXUS, RAD, Jira)</p>
                 <p>BE Mainframe OS / 390 developer (Management of TSO, DB2 for z / OS, RDZ (Retrive, Add, Update, DTCN, CEDX, Libraries, Migrations, COBOL programs.)</p>
                 <p>Update of XSL (KANA Template) for mails, and maintenance of cobol programs for mail, (use of MQ).</p>
                 <p>Defect attention, HP Quality Center</p>
              </div><!--//details-->
          </div><!--//item-->

          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Systems engineer</h3>
                      <div class="time"> September 2015 - August 2016</div>
                  </div><!--//upper-row-->
                  <div class="company">Grupo AR Toluca Estado de México</div>
              </div><!--//meta-->
              <div class="details">
                  <p>Lifting of Branches (Structured Cabling, Infrastructure Design, Assembly of Equipment and Servers etc.)
                      Installation and Implementation of VPN using Linux as server management of shell, bash, OpenVPM , Servers  </p>
                 <p>Application  with Web Services (Python, DJANGO REST FRAMEWORK).
                  Front END (HTML, Java Script, JQUERY, AJAX, JSON),
                  Back End (PostgreSQL), </p>
                  <p>Technical Support to the different branches, Equipment maintenance, Camera survey, error resolution.</p>
              </div><!--//details-->
          </div><!--//item-->

          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Developer Jr</h3>
                      <div class="time">December 2014 - July 2015</div>
                  </div><!--//upper-row-->
                  <div class="company">e-Bitware México Distrito Federal</div>
              </div><!--//meta-->
              <div class="details">
                  <p>Develop and maintenance for JAVA programs
                       Corrections to APP developed in Android
                       develop andorid APP
                       with  Cordova (HTML, JAVASCRIP, JQUERY, BOOTSTRAP), Technical support to the client, raising of Servers, correction of errors etc.
                  </p>

              </div><!--//details-->
          </div><!--//item-->


      </section><!--//section-->

      <section class="section projects-section">
          <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
          <div class="intro">
              <p>These are some of the projects carried out
              </p>
          </div><!--//intro-->

          <div class="item">
              <span class="project-title"><a href="#">Internet Banking Banking 2.0
              </a></span> - <span class="project-tagline">Banking 2.0 development
              </span>

          </div>


          <div class="item">
              <span class="project-title"><a href="#">Mobile Banking CODI
              </a></span> - <span class="project-tagline">CODI development and support
              </span>

          </div>

          <div class="item">
              <span class="project-title"><a href="#"> Control Accounts  HSBC NET  </a></span> - <span class="project-tagline">deploy and installation</span>
         </div>


         <div class="item">
          <span class="project-title"><a href="#"> Admin Corporate  Conexion  HSBC NET  </a></span> - <span class="project-tagline">develop on Angular </span>
      </div>


         <div class="item">
              <span class="project-title"><a href="#">FlexRate GSP </a></span> - <span class="project-tagline">Buy Sell Foreign Currency upgrade to FlexRate Internet Banking
              </span>
         </div>

         <div class="item">
          <span class="project-title"><a href="" target="_blank"> Google Cloud certificate core Infrastructure</a></span> - <span class="project-tagline">Google Cloud Fundamentals: Core Infrastructure </span>
      </div><!--//item-->

      </section><!--//section-->

      <section class="skills-section section">
          <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Knowledge</h2>
          <div class="skillset">

              <div class="item">
                  <h3 class="level-title">MainFrame DB2</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="60%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->


                <div class="item">
                  <h3 class="level-title">COBOL</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="70%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">Python &amp; Django</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="70%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">Javascript &amp; jQuery</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="70%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">JAVA &amp; Spring</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="50%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">HTML5 &amp; CSS</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="70%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">Shell, BASH</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="50%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">Open Source</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="60%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">C</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="60%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->

               <div class="item">
                  <h3 class="level-title">DB2 &amp; MSQL &amp; MYSQL &amp; postgreSQL & Firebird</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="60%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->

               <div class="item">
                  <h3 class="level-title">Linux &amp; Unix</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="80%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->

                <div class="item">
                  <h3 class="level-title">Networking (LAN, WAN)</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="50%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->

               <div class="item">
                  <h3 class="level-title">electronics</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="60%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->


          </div>
      </section><!--//skills-section-->

  </div><!--//main-body-->
</div>
