@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(./fonts/montserrat-regular-webfont.woff2) format('woff2');
  }

  a{text-decoration: none !important;}
  .divright, .dropdown {float: right;}

  .txtclaro{
    opacity: 0.9;
  }

  .txtrosa{
    color: #f70759;
  }

  .txtverde{
    color: green;
  }

  .txt14{
    font-size: 14px;
  }

  .txt16{
    font-size: 16px;
  }

  .txt22{
    font-size: 22px;
    font-weight: 700;
  }

  .txt24{
    font-size: 24px;
    font-weight: 700;
  }

  .txtbold{
    font-weight: 700;
  }

  .txtmargen{
    margin: 30px 0;
  }

.divApp{
    color: #0a0a0a;
    height: 100vh;
    font-family: Montserrat;
}

@media only screen and (min-width: 768px) {
    .txtmovil{display: none;}
  }

@media only screen and (max-width: 767px) {
    .txtviajeros, .txtparrafo , .txtdeskt{display: none;}
    .dropdown {float: left; margin: 10px 0;}
  }